<header class="header">
    <div *ngIf="!(isAuth$ | async); else nickname">
        <button mat-raised-button (click)="openSignUpPopup()" color="accent" class="header__button">Sign Up</button>
        <button mat-raised-button (click)="openLoginPopup()" class="header__button">Sign In</button>
    </div>
    <ng-template #nickname>
        <div class="header__profile">
            <span class="header__username">{{(userInfo$ | async)?.name}}</span>
            <div>
                <button mat-raised-button (click)="logOut()" class="header__button header__button--exit">exit</button>
                <button mat-raised-button (click)="deleteAccount()" class="header__button header__button--delete">delete</button>
            </div>
        </div>
    </ng-template>
</header>