<header class="header">
    <div *ngIf="!(isAuth$ | async); else nickname">
        <button mat-raised-button (click)="openSignUpPopup()" color="accent" class="header__button">Sign Up</button>
        <button mat-raised-button (click)="openLoginPopup()" class="header__button">Sign In</button>
    </div>
    <ng-template #nickname>
        <span class="header__username">{{(userInfo$ | async)?.name}}</span>
        <button mat-raised-button class="header__exit-button">exit</button>
        <button mat-raised-button class="header__delete-button">delete</button>
    </ng-template>
</header>
